html {
  font-family: proxima-nova;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.directory {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.directory .entry {
  position: relative;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
  line-height: 200%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.directory .entry:hover {
  background-color: #FBFBFB;
}

.directory .entry:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.directory .entry:last-child {
  border-bottom: 1px solid #CCC;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.directory .entry a {
  line-height: 200%;
  text-decoration: none;
}

.directory .entry a {
  color: rgb(53, 122, 232);
}

.directory .entry a:visited {
  color: rgb(53, 122, 232);
}

.directory .entry.dir a {
  font-weight: bold;
  color: rgb(232, 50, 90);
}

.directory .entry.name {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: rgb(53, 122, 232);
  border: 1px solid rgb(53, 122, 232);
}

.directory .create {
  cursor: default;
  border-top: 1px solid #CCC;
  text-align: center;
}

.directory .entry input {
  padding: 0px;
  border: 0px;
  margin: 0px;
  outline: 0px;
  text-decoration: none;
  line-height: 200%;
}
