/* cell related rules */

#ellone .cell.editing {
    border-right: 1px solid rgb(53, 122, 232) !important;
}

#ellone .cell.modified {
    border-right: 1px solid red !important;
}

#ellone .cell {
    position: relative;
    border-left: 1px solid rgba(0,0,0,0);
    width: 100%;
    min-height: 47px;
}

#ellone .cell.editing {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ellone .cell textarea {
    border: 0;
    outline: 0;
    resize: none;
    overflow: hidden;
    width: 100%;
    color: black;
    font-family: Inconsolata;
    font-size: 18px;
}

#bounds {
    position: relative;
    outline: 0;
}

#bounds.editing .cell.active {
    border-left: 1px solid #AAA;
}

#bounds.editing .cell.select:not(.active) {
    border-left: 1px solid #DDD;
}

#ellone .cell.editing .sec-title:before {
    content: "";
}

/* top toolbar */

#topbar {
    font-family: Montserrat;
    position: sticky;
    height: 37px;
    background-color: white;
    border-bottom: 1px solid #CCC;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

#topbar-control {
    position: relative;
    float: right;
    top: 8px;
    right: 8px;
}

.topbar-button {
    cursor: default;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    background-color: rgb(53, 122, 232);
    color: white;
    width: 61px;
    border-radius: 2px;
    padding: 0px 6px 2px 6px;
    margin-left: 3px;
}

#topbar-export.expanded {
    background-color: #666;
}

#topbar-slide {
    display: none;
    position: relative;
    top: 8px;
    right: 8px;
}

.topbar-dropdown {
    float: right;
    clear: both;
    margin-top: 2px;
}

#bounds:not(.modified) #topbar-save {
    display: none;
}

#bounds:not(.modified) #topbar-revert {
    display: none;
}

#bounds:not(.editing) #topbar-editing {
    background-color: #666;
}

#bounds.modified #topbar-reload {
    display: none;
}

/* theme */

#marquee {
    position: relative;
    z-index: 2;
}

#canary {
    position: relative;
    font-family: monospace;
    font-size: 14px;
    left: 30px;
    top: 7px;
    z-index: 2;
}

#linkbar {
    position: relative;
    font-size: 14px;
    left: 60px;
    top: 7px;
}

#linkbar a:focus {
    outline: 0;
}

#linkbar a {
    text-decoration: none;
}

#linkbar a:visited {
    color: blue;
}

/* dark theme */

/*
#ellone {
    background-color: #070908;
    color: #E7F3FD;
}
*/

/* math errors */

.equation .math-error {
    text-align: left;
    border: 1px solid #ebcccc;
    border-radius: 3px;
}

.equation .math-error .math-code {
    font-family: Inconsolata;
    font-size: 18px;
    padding: 5px;
}

.equation .math-error .err-msg {
    color: #a94442;
    background-color: #f2dede;
    padding: 5px;
}

#ellone a.card {
    color: red;
}

#ellone {
    box-sizing: border-box;
    padding-bottom: 150px;
}

#bounds {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    position: relative;
}

#ellone::-webkit-scrollbar {
    /*display: none;*/
}

#help {
    position: absolute;
    top: 35px;
    display: none;
}

#help > pre {
    font-size: 12px;
    color: #333;
    padding: 3px;
    margin: 0;
    cursor: default;
}
