@import url("proxima-nova.css");

* {
  box-sizing: border-box;
}

#elltwo {
  font-family: proxima-nova;
  font-size: 17px;
  margin: 0px;
}

/* content */

#content {
  width: 650px !important;
  margin: 0px auto;
  padding-top: 80px;
  padding-bottom: 200px;
  background-color: white;
  color: #333;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#content * {
  text-decoration: none;
}

#content a:focus {
  outline: 0px;
}

#content a {
  color: blue;
}

#content a:visited {
  color: blue;
}

#content *:focus {
  outline: 0;
}

/* paragraph cells */

.para_inner {
  /*margin-top: 20px;*/
  padding-left: 5px;
  white-space: pre-wrap;
}

.para_outer.editing {
  border-right: 1px solid rgb(53, 122, 232) !important;
}

.para_outer.modified {
  border-right: 1px solid red !important;
}

.para_outer {
  position: relative;
  margin-top: 10px;
  padding: 3px;
  border-right: 1px solid white;
  /*border-radius: 5px;*/
  padding-right: 30px;
}

.para_outer.editing .para_inner {
  text-align: left;
  font-family: courier;
  font-size: 14px;
}

#elltwo.editing .para_outer:hover {
  /*border-left: 1px solid #CCC;*/
  border-right: 1px solid #CCC;
  /*background-color: #F6F6F6;*/
}

#elltwo.editing .para_outer:hover > .toolbar {
  display: block;
}

#elltwo.editing .para_outer:first-child > .toolbar > .del_button {
  display: none;
}

/* equations */

.equation {
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.equation_inner {
  margin: auto;
  text-align: center;
}

.equation_number {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  color: #888;
}

.equation_inner .equation_row:not(:first-child) {
  margin-top: 20px;
}

/* sections */

.section_title {
  font-weight: 600;
}

.section_title:before {
  content: attr(sec_num) " ";
}

.para_outer.editing .section_title:before {
  content: "";
}

/* hover toolbar */

.toolbar {
  display: none;
  position: absolute;
  bottom: -2px;
  left: 97.3%;
  cursor: default;
  line-height: 100%;
}

.add_button {
  font-size: 15px;
  background-color: rgb(53, 122, 232);
  color: white;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  padding: 0px 6px 0px 6px;
}

.del_button {
  font-size: 15px;
  background-color: rgba(232, 50, 90, 0.8);
  color: white;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0px 6px 0px 6px;
}

/* top toolbar */

#topbar {
  position: fixed;
  right: 10px;
}

#topbar_control {
  float: right;
}

#topbar_markdown {
  cursor: default;
  font-size: 15px;
  background-color: rgb(53, 122, 232);
  color: white;
  border-radius: 2px;
  padding: 0px 6px 0px 6px;
}

#topbar_latex {
  cursor: default;
  font-size: 15px;
  background-color: rgb(53, 122, 232);
  color: white;
  border-radius: 2px;
  padding: 0px 6px 0px 6px;
}

#topbar_pdf {
  cursor: default;
  font-size: 15px;
  background-color: rgb(53, 122, 232);
  color: white;
  border-radius: 2px;
  padding: 0px 6px 0px 6px;
}

#topbar_save {
  display: none;
  cursor: default;
  font-size: 15px;
  background-color: rgb(53, 122, 232);
  color: white;
  border-radius: 2px;
  padding: 0px 6px 0px 6px;
}

#elltwo.modified #topbar_save {
  display: inline;
}

#topbar_revert {
  display: none;
  cursor: default;
  font-size: 15px;
  background-color: rgb(53, 122, 232);
  color: white;
  border-radius: 2px;
  padding: 0px 6px 0px 6px;
}

#elltwo.modified #topbar_revert {
  display: inline;
}

#topbar_editing {
  cursor: default;
  font-size: 15px;
  color: #BBB !important;
  background-color: #666;
  color: white;
  border-radius: 2px;
  padding: 0px 6px 0px 6px;
}

#elltwo.editing #topbar_editing {
  color: white !important;
  background-color: rgb(53, 122, 232);
}

#topbar_reload {
  cursor: default;
  font-size: 15px;
  background-color: rgb(53, 122, 232);
  color: white;
  border-radius: 2px;
  padding: 0px 6px 0px 6px;
}

#elltwo.modified #topbar_reload {
  display: none;
}

/* theme */

#marquee {
  color: #333;
  position: fixed;
}

.title {
  font-size: 35px;
  font-weight: 600;
  text-align: center !important;
  margin-bottom: 40px;
}

.section_title.section_level1 {
  font-size: 25px;
}

.section_title.section_level2 {
  font-size: 20px;
}

.para_inner {
  text-align: justify;
}

#elltwo li {
  text-align: justify;
}

#elltwo * {
  line-height: 150%;
}

.reference {
  color: blue;
}

.error {
  color: red;
}
