@import url("montserrat.css");

* {
    box-sizing: border-box;
}

/* content */

#ellone {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    margin: 0px auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: white;
    color: #333;
}

#ellone * {
    text-decoration: none;
}

#ellone *:focus {
    outline: 0;
}

#ellone .cell {
    padding-left: 10px;
    padding-right: 10px;
}

/* links */

#ellone a:focus {
    outline: 0px;
}

#ellone a {
    color: blue;
}

#ellone a:visited {
    color: blue;
}

/* paragraph cells */

#ellone p {
    min-height: 21px;
    white-space: pre-wrap;
    text-align: justify;
    line-height: 150%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* equations */

#ellone .equation {
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#ellone .equation-inner {
    margin: auto;
    text-align: center;
}

#ellone .equation-number {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    color: #888;
}

/* images */

#ellone figure {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#ellone figure * {
    text-align: center;
}

#ellone img {
    max-width: 100%;
    height: auto;
}

#ellone figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 0px;
}

#ellone figure.image > figcaption:not(nonumber):before {
    content: "Figure " attr(fig-num) ": ";
}

#ellone figure.table > figcaption:not(nonumber):before {
    content: "Table " attr(tab-num) ": ";
}

/* lists */

#ellone ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
}

#ellone ol {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
}

/* tables */

#ellone table {
    border-spacing: 0px;
    margin: 0px auto 0px auto;
    padding: 20px 0px 20px 0px;
}

#ellone table > thead > tr > th {
    border-bottom: 2px solid black;
    padding: 5px 20px 5px 5px;
    /*text-align: left;*/
    font-variant: small-caps;
}

#ellone table > tbody > tr:nth-child(2n) {
    /*background-color: #E0E0E0;*/
}

#ellone table > tbody > tr:not(:last-child) > td {
    border-bottom: 1px solid #E0E0E0;
}

#ellone table > tbody > tr > td {
    padding: 5px 20px 5px 5px;
}

/* code */

#ellone :not(pre) > code {
    font-family: Consolas, monospace;
    font-size: 16px;
    background-color: #F1F1F1;
    padding: 2px;
    border-radius: 3px;
}

#ellone pre {
    background-color: #F1F1F1;
    padding: 10px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

#ellone pre > code {
    font-family: Consolas, monospace;
    font-size: 15px;
}

/* sections */

#ellone .sec-title {
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#ellone .sec-title:before {
    content: attr(sec-num) " ";
}

/* references */

#ellone .biblio {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* popups */

#ellone .popup-outer {
    display: none;
    position: absolute;
    z-index: 2;
    cursor: auto;
    /* width: 250px; */
}

#ellone .popup {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    line-height: 150%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    border: 0px;
    background-color: black;
    opacity: 0.95;
    color: white;
    max-width: 300px;
    margin-bottom: 8px;
}

#ellone .popup a {
    color: rgba(53, 122, 232, 0.8);
}

#ellone .popup:after {
    position: absolute;
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    border-color: transparent;
    border-top-color: black;
    border-width: 4px;
    margin-top: -8px;
}

#ellone .eqn-popup {
    font-size: 17px;
    max-width: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

#ellone .fig-popup {
    width: 500px;
}

#ellone .fig-popup figure {
    margin: 0px;
    padding: 0px;
}

#ellone .tab-popup {
    max-width: 500px;
}

#ellone .tab-popup figure {
    margin: 0px;
    padding: 0px;
}

#ellone .tab-popup table {
    padding: 0px;
}

#ellone .bib-popup {
    width: 250px;
}

/* footnotes */

#ellone .footnote {
    background-color: rgba(53, 122, 232, 0.8);
    color: white;
    border-radius: 2px;
    cursor: default;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 3px;
    display: inline-block;
    text-align: center;
    width: 17px;
    height: 19px;
    position: relative;
}

#ellone .footnote:hover {
    background-color: rgb(53, 122, 232);
}

#ellone .footnote-popup {
    text-align: center;
    width: 250px;
}

/* export overlay */

#ellone.overlay {
    width: 1000px !important;
}

/* theme */

#marquee {
    color: #333;
    position: fixed;
    cursor: default;
    top: 9px;
    left: 10px;
}

#ellone .doc-title {
    font-size: 35px;
    font-weight: 600;
    text-align: center !important;
    padding-bottom: 40px;
    /*border-bottom: 2px solid black;*/
}

#ellone .sec-title.sec-lvl-1 {
    font-size: 25px;
}

#ellone .sec-title.sec-lvl-2 {
    font-size: 20px;
}

#ellone li {
    text-align: justify;
}

#ellone .reference {
    position: relative;
}

#ellone .popup .reference a {
    color: rgb(53, 122, 232);
}

#ellone .error {
    color: red;
}

#ellone hr {
    position: absolute;
    width: 100%;
    top: 25%;
    border: 0px;
    border-top: 1px solid black;
}
