@import url("montserrat.css");

* {
    box-sizing: border-box;
}

/* content */

#elltwo {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    width: 700px !important;
    margin: 0px auto;
    padding-top: 80px;
    padding-bottom: 200px;
    background-color: white;
    color: #333;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#elltwo * {
    text-decoration: none;
}

#elltwo *:focus {
    outline: 0;
}

/* links */

#elltwo a:focus {
    outline: 0px;
}

#elltwo a {
    color: blue;
}

#elltwo a:visited {
    color: blue;
}

/* paragraph cells */

#elltwo p {
    /*margin-top: 20px;*/
    min-height: 21px;
    padding-left: 5px;
    white-space: pre-wrap;
    text-align: justify;
    line-height: 150%;
    padding: 0px;
    margin-top: 10px;
}

/* equations */

#elltwo .equation {
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#elltwo .equation-inner {
    margin: auto;
    text-align: center;
}

#elltwo .equation-number {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    color: #888;
}

/* images */

#elltwo figure {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#elltwo figure > img {
    max-width: 100%;
    height: auto;
}

#elltwo figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 0px;
}

/* lists */

#elltwo ul {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#elltwo ol {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* tables */

#elltwo table {
  border-spacing: 0px;
  margin: 20px auto 20px auto;
}

#elltwo table > thead > tr > th {
    border-bottom: 2px solid black;
    padding: 5px 20px 5px 5px;
    text-align: left;
    font-variant: small-caps;
}

#elltwo table > tbody > tr:nth-child(2n) {
    /*background-color: #E0E0E0;*/
}

#elltwo table > tbody > tr:not(:last-child) > td {
    border-bottom: 1px solid #E0E0E0;
}

#elltwo table > tbody > tr > td {
    padding: 5px 20px 5px 5px;
}

/* code */

#elltwo :not(pre) > code {
    font-family: Consolas, monospace;
    font-size: 16px;
    background-color: #F1F1F1;
    padding: 2px;
    border-radius: 3px;
}

#elltwo pre {
    background-color: #F1F1F1;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 0px;
    white-space: pre-wrap;
}

#elltwo pre > code {
    font-family: Consolas, monospace;
    font-size: 15px;
}

/* sections */

#elltwo .sec-title {
    font-weight: 600;
    margin-top: 30px;
}

#elltwo .sec-title:before {
    content: attr(sec-num) " ";
}

/* popups */

#elltwo .popup-outer {
    display: none;
    position: absolute;
    z-index: 2;
    opacity: 0.90;
    cursor: auto;
}

#elltwo .popup {
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    line-height: 150%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    border: 0px;
    background-color: black;
    /*opacity: 0.95;*/
    color: white;
    max-width: 300px;
    margin-bottom: 8px;
}

#elltwo .popup:after {
    position: absolute;
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    border-color: transparent;
    border-top-color: black;
    border-width: 4px;
    margin-top: -8px;
}

#elltwo .eqn-popup {
    font-size: 17px;
    max-width: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* footnotes */

#elltwo .footnote {
    background-color: rgba(53, 122, 232, 0.8);
    color: white;
    border-radius: 2px;
    cursor: default;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 3px;
    display: inline-block;
    text-align: center;
    width: 17px;
    height: 19px;
    position: relative;
}

#elltwo .footnote:hover {
    background-color: rgb(53, 122, 232);
}

#elltwo .footnote-popup {
    text-align: center;
    width: 200px;
}

#elltwo .footnote-popup:after {
    left: 96px;
}

/* export overlay */

#elltwo.overlay {
    width: 1000px !important;
}

/* theme */

#marquee {
    color: #333;
    position: fixed;
    cursor: default;
    top: 9px;
    left: 10px;
}

#elltwo .doc-title {
    font-size: 35px;
    font-weight: 600;
    text-align: center !important;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
}

#elltwo .sec-title.sec-lvl-1 {
    font-size: 25px;
}

#elltwo .sec-title.sec-lvl-2 {
    font-size: 20px;
}

#elltwo li {
    text-align: justify;
}

#elltwo .reference {
    position: relative;
}

#elltwo .popup .reference a {
    color: rgb(53, 122, 232);
}

#elltwo .error {
    color: red;
}
