@import url("../inconsolata.css");
@import url("../montserrat.css");

:root {
    --bg-col: rgb(33, 33, 33);
    --bg-hl-col: rgb(41, 41, 41);
    --bg-hl2-col: rgb(51, 51, 51);
    --bg-hl3-col: rgb(61, 61, 61);
    --bor-col: #6c71c4; /* border and link color */
    --hl-col: #859900; /* highlight color */
    --hl2-col: #dc322f ; /* highlight color */
    --pop-fg-col: #002b36; /* popup text color */
    --pop-bg-col: #93a1a1; /* popup background color */
    --bg-font: 15px; /* popup background color */
    --font-col: #e7f3fd;
    --font-col-int: #b58900;
    --dc-blue-col: rgb(33, 150, 243);
}

#topbar {
    color: var(--font-col);
    background-color: var(--bg-col);
}

#ellone, #bounds {
    color: var(--font-col);
    background-color: var(--bg-col);
}

#ellone .cell textarea {
    font-weight: 400;
    background-color: var(--bg-col);
    color: var(--font-col);
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

#marquee {
    color: var(--font-col);
}

#topbar {
    border-bottom: 1px solid #3A3A3A;
}

#topbar a, #topbar a:visited, #ellone a, #ellone a:visited {
    color: rgb(53, 122, 232);
}

#help > pre {
    color: var(--font-col);
}

#ellone :not(pre) > code {
    background-color: var(--bg-hl3-col);
}

#ellone pre {
    background-color: var(--bg-hl3-col);
}

#ellone table > thead > tr > th {
    border-bottom: 2px solid #E0E0E0;
}

#ellone .equation .math-error {
    border: 2px solid #a94442;
}

#ellone .equation .math-error .err-msg {
    color: #f2dede;
    background-color: #a94442;
}
