<!DOCTYPE html>
<html>

<head>
<title>Elltwo Editor</title>
<link href="{{ static_url('css/proxima-nova.css') }}" type="text/css" rel="stylesheet"/>
<link href="{{ static_url('css/directory.css') }}" type="text/css" rel="stylesheet"/>
</head>

<body>

<h1 class="title">Elltwo Documents</h1>

<div class="directory">
{% for f in files %}
  <div class="entry">
    <a href="/editor/{{ f }}">{{ f }}</a>
  </div>
{% end %}
<div class="create">+</div>
</div>

<script src="{{ static_url('js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/directory.js') }}" type="text/javascript"></script>

</body>

</html>
