<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ fname }}</title>

{% if local_libs %}
<link href="{{ static_url('katex/build/katex.min.css') }}" type="text/css" rel="stylesheet"/>
{% else %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css">
{% end %}
<link href="{{ static_url('css/elltwo.css') }}" type="text/css" rel="stylesheet"/>
<link href="{{ static_url('css/editor.css') }}" type="text/css" rel="stylesheet"/>
<link href="{{ static_url('css/client.css') }}" type="text/css" rel="stylesheet"/>

</head>

<body>

<div id="target" tabindex="0"></div>

{% if local_libs %}
<script src="{{ static_url('js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('katex/build/katex.min.js') }}" type="text/javascript"></script>
{% else %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.js"></script>
{% end %}
<script src="{{ static_url('js/marktwo.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/elltwo.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/editor.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/client.js') }}" type="text/javascript"></script>

<script type="text/javascript">
client.init($("#target"), "{{ path }}", {
    macros: {% raw macros %}
});
</script>

</body>

</html>
